/*.sidebar {*/
/*    background: #FFFFFF;*/
/*    box-shadow: 0px 0px 40px rgba(29, 33, 38, 0.13), 0px 0px 2px rgba(29, 33, 38, 0.1);*/

/*}*/

/*.sidebar.open {*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*}*/

/*.background {*/
/*    height: 100%;*/
/*    min-height: 100%;*/
/*    overflow: hidden;*/
/*    background-color: darkblue;*/
/*    color: black;*/
/*}*/

/*.nav {*/
/*    position: relative;*/
/*display: flex;*/
/*    flex-direction: column;*/

/*gap:20px;*/
/*    margin-left: 70px;*/
/*    margin-top: 63px;*/
/*    margin-right: 109px;*/
/*}*/

/*.nav a {*/
/*}*/

/*.nav a:hover {*/
/*    color: #18d7ea;*/
/*}*/
/*.nav a:active {*/
/*    color: #f30ff0;*/
/*}*/
/*.nav a.active {*/
/*    color: #0031ff;*/
/*    font-weight: 600;*/
/*    font-size: 22px;*/
/*    line-height: 27px;*/
/*}*/
/*.standart{*/
/*    color:black*/
/*}*/
/*.close {*/
/*    margin-left:275px;*/
/*    margin-right: 29px;*/
/*    margin-top: 22px;*/
/*}*/

/*.close img {*/

/*}*/
